OPENAI_MODEL="qwen/qwen3-32b" // replace this with your preferred model
OPENAI_BASEURL="https://ai.hackclub.com/proxy/v1" // replace this with your preferred AI endpoint
OPENAI_KEY=""

DATABASE_URL=""